# NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_AUTH_API_URL=http://localhost:8081/api/v1
NEXTAUTH_SECRET=replace-with-a-secure-random-value
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_with_your_stripe_publishable_key
